
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.body-main{
background-repeat: no-repeat;
background-position: top;
background-size: 500px;
}

.bg-image{
background: #ffea75;
border-radius: 30px;
margin: 20px;
padding: 20px;
width: auto;
height: 75vh;
position: relative;

}
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);

.design
{
position: relative;
top: 0;
left: 0;
 }
.bag
{
position: absolute;
top: 0;
 left: 0;
}

.hero-caption{
  font-family: "Oregano";
  line-height: 120%;
  letter-spacing: 0px;
  font-optical-sizing: auto;
  font-size: 65px;
  color: #002140;
  font-weight: 900;
  font-style: auto;
}
.hero-sub{

  letter-spacing: 0.3px;
  color: #002140;
  font-size: 22px;
  font-family: 'Pompiere';
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.nav-link, .dropdown-item{
  font-family: 'Epilogue';
  color: #002140;
  font-weight: 800;

}







/* button*/
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Epilogue';
  font-size: 22px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 25px 36px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 25px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}
